<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectUX"
        tools:targetApi="31">
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".konfirmasi_jadwal_tes_langsung"
            android:exported="false"
            android:label="@string/title_activity_konfirmasi_jadwal_tes_langsung"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".konfirmasi_jadwal_home_service" />
        <activity
            android:name=".TambahPasienActivity"
            android:exported="false" />
        <activity
            android:name=".UbahInformasiPasienActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>